* {
	font-family: monospace;
	color: azure;
}

body {
	background-color: rgb(23, 20, 20);
}

@media (min-width: 280px) {
	#theGame {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	h1,
	h2,
	p,
	figcaption {
		text-align: center;
	}

	figure {
		margin: 25px 15px 15px 15px;
	}

	figcaption {
		font-size: 23px;
		margin-bottom: 12px;
	}

	h1 {
		margin: 0;
	}

	#picksDisplay {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#picksDisplay img {
		border: 2px ridge whitesmoke;
		background-color: black;
		padding: 1rem;
	}

	#picksDisplay div,
	em {
		margin: 0 2rem 0 2rem;
	}

	#picksDisplay em {
		font-size: 1.5rem;
		margin-top: 2rem;
		margin-bottom: 1rem;
		font-weight: bolder;
		text-align: center;
	}

	#scoresDisplay {
		flex-direction: column;
	}

	#scoreDisplay h2 {
		font-size: 2rem;
	}

	#scoresDisplay p,
	#choicesDisplay p {
		font-size: 1.5rem;
	}

	#scoresDisplay * {
		margin: 0.5rem 0 0.5rem 0;
	}

	#roundsDisplay {
		margin: 0.5rem 0 0.5rem 0;
	}

	#roundsDisplay label {
		font-size: 1.5rem;
		margin: 0 1rem 0 0.5rem;
	}

	#roundsDisplay select,
	option {
		color: black;
	}

	#choicesDisplay {
		flex-direction: column;
		justify-content: center;
	}

	.objectImageInput {
		width: 100%;
		background-color: black;
		border: 4px groove whitesmoke;
		border-radius: 25px;
		margin: 0.5em;
		padding: 0.5rem;
	}

	.objectImageInput:hover,
	#resetButton:hover {
		opacity: 0.6;
		cursor: pointer;
		transform: translateY(3px);
	}

	.objectImageInput:active {
		box-shadow: 5px 5px 5px whitesmoke;
	}

	.objectImageInput:disabled {
		opacity: 0.6;
		box-shadow: none;
		transform: none;
	}

	#choicesWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#resetButtonWrapper {
		text-align: center;
	}

	#resetButton {
		margin: 1.5rem;
		width: 100px;
		height: 40px;
		color: azure;
		background-color: darkred;
		border: 3px ridge whitesmoke;
		border-radius: 20px;
		font-family: monospace;
	}

	#resetButton:active {
		box-shadow: 3px 3px 5px darkred;
	}

	.display {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0.5rem;
	}
}

@media (min-width: 523px) {
	#picksDisplay {
		flex-direction: row;
	}

	.objectImageInput {
		margin: 0.5em 1.5em 0.5em 1.5em;
	}
}
